.primary-btn {
    font-weight: 600 !important;
    font-size: 1.1rem;
    padding: 0.75rem 1.5rem !important;
    transition: transform 0.3s ease-in-out;
    background: var(--gradient-primary);
    color: var(--bg-white) !important;
    border: none !important;
    border-radius: 12px !important;
    white-space: nowrap;
    box-shadow: var(--shadow-btn);

    &:hover {
        background: var(--gradient-primary-2) !important;
    }

    &:active {
        transform: scale(0.95);
    }
}

.secondary-btn {
    font-weight: 600 !important;
    font-size: 1.1rem !important;
    padding: 0.75rem 1.5rem !important;
    transition: all 0.3s ease-in-out;
    background-color: var(--bg-white) !important;
    color: var(--primary-indigo) !important;
    border: solid 2px var(--primary-indigo) !important;
    border-radius: 12px !important;
    white-space: nowrap;
    /* box-shadow: var(--shadow-btn); */

    &:hover {
        background: var(--gradient-primary);
        color: var(--text-white) !important;
    }

    &:active {
        transform: scale(0.95);
    }
}


.card {
    width: 100% !important;
    padding: 1.5rem !important;
    border-radius: 16px !important;
    background-color: var(--bg-white) !important;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 1.5px solid transparent !important;
    overflow: hidden !important;
    box-shadow: var(--shadow-card);

    &:hover {
        border: solid 1.5px var(--primary-indigo) !important;
        transform: translateY(-5px);
        scale: 1.05;
        box-shadow: 0px 10px 50px 1px rgba(0, 0, 0, 0.15);
    }
}

section {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.section-title {
    color: var(--blue-900);
    margin-bottom: 3rem;
}

.section-title-light {
    color: var(--text-white);
    margin-bottom: 3rem;
}

/* Share btn etc */
.icon-btn {
    width: 30px !important;
    height: 30px !important;
    font-size: 1rem !important;
    border-radius: 50% !important;
    background-color: var(--bg-gray-50) !important;
    color: var(--slate-600) !important;
    box-shadow: -2px 2px 3px -1px rgba(0, 0, 0, 0.15), 2px -2px 3px -1px rgba(0, 0, 0, 0.15), -2px -2px 3px -1px rgba(0, 0, 0, 0.15), 2px 2px 3px -1px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: var(--primary-indigo) !important;
        color: var(--bg-white) !important;
        scale: 1.1;
        box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.15);
    }
}

.tag {
    display: inline-block !important;
    padding: 0.5rem 1rem !important;
    font-size: 0.95rem !important;
    font-weight: 500 !important;
    border: 0.5px solid var(--slate-300) !important;
    border-radius: 20px !important;
    margin-bottom: 1rem !important;
    box-shadow: -1px 1px 2px -1px rgba(0, 0, 0, 0.05), 1px -1px 2px -1px rgba(0, 0, 0, 0.05), -1px -1px 2px -1px rgba(0, 0, 0, 0.05), 1px 1px 2px -1px rgba(0, 0, 0, 0.05);
}

.green-tag {
    background-color: var(--green-15) !important;
    color: var(--green-800) !important;
}

.blue-tag {
    background-color: var(--blue-50) !important;
    color: var(--blue-800) !important;
}

.yellow-tag {
    background-color: var(--yellow-10) !important;
    color: var(--yellow-800) !important;
}

.purple-tag {
    background-color: var(--purple-15) !important;
    color: var(--purple-800) !important;
}


.social-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.15);
    color: var(--slate-200);
    transition: all 0.3s ease-in-out;
    box-shadow: -1px 2px 3px -1px rgba(0, 0, 0, 0.15), 1px -2px 3px -1px rgba(0, 0, 0, 0.15), -1px -2px 3px -1px rgba(0, 0, 0, 0.15), 1px 2px 3px -1px rgba(0, 0, 0, 0.15);

    &:hover {
        background-color: var(--blue-600);
        color: var(--text-white);
    }
}

.linkedin {
    color: var(--primary-blue);
}

.youtube {
    color: var(--red-500);
}

.whatsapp {
    color: var(--whatsapp-green);
    font-size: 1.3rem;
}

.email {
    color: var(--text-secondary);
}


.primary-link {
    color: var(--primary-blue);
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--primary-indigo) !important;
        text-decoration: underline !important;
    }
}

.secondary-link {
    color: var(--text-light);
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--primary-indigo) !important;
        text-decoration: underline !important;
    }
}